@*******************************************************************************************************
//  AddInputField.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  02/01/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using openMIC.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@{
    bool required = ViewBag.Required;
    int stringLength = ViewBag.StringLength;
    string fieldName = ViewBag.FieldName;
    string inputType = ViewBag.InputType;
    string inputLabel = ViewBag.InputLabel;
    string inputSizeRestriction = stringLength > 0 ? string.Format(" maxlength=\"{0}\" size=\"{0}\"", stringLength) : "";
}
@if (required)
{
    <div class="form-group" data-bind="css: {'has-error': isEmpty(@(fieldName)()), 'has-feedback': isEmpty(@(fieldName)())}">
        <label for="input@(fieldName)">@inputLabel:</label>
        <input type="@inputType" class="form-control" data-bind="textInput: @fieldName" id="input@(fieldName)"@Raw(inputSizeRestriction) required>
        <span class="glyphicon glyphicon-remove form-control-feedback" data-bind="visible: isEmpty(@(fieldName)())"></span>
    </div>
}
else
{
    <div class="form-group">
        <label for="input@(fieldName)">@inputLabel</label>
        <input type="@inputType" class="form-control" data-bind="textInput: @fieldName" id="input@(fieldName)"@Raw(inputSizeRestriction)>
    </div>
}
