@*******************************************************************************************************
//  DranetzGraph.cshtml - Gbtc
//
//  Copyright © 2021, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  07/18/2021 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System.Net.Http
@using GSF.Web
@using GSF.Web.Model
@using GSF.Web.Shared
@using openMIC.Model
@inherits ExtendedTemplateBase<AppModel>
@* ReSharper disable UnknownCssClass *@
@* ReSharper disable HexColorValueWithAlpha *@
@* ReSharper disable SyntaxIsNotAllowed *@
@section StyleSheets {
    <link href="Content/Popup.css" rel="stylesheet">
    <link href="@Resources.Root/Shared/Content/jquery-ui.css" rel="stylesheet">
    <style>
        .ui-tabs .ui-tabs-nav li a {
            font-size: 10pt !important;
        }

        #autoRefreshDataPanel {
            margin: 8px -18px -4px 0;
            padding: 0;
            transform: scale(0.85);
            max-width: 325px;
            display: flex;
        }

        #autoRefreshGroup {
            margin-top: 1px;
        }

        #refreshRateGroup {
            margin: -8px 0 4px 0;
        }

        #refreshRate {
            width: 75px;
            margin-top: 0;
        }

        .value-legend {
            font-weight: bold;
            text-shadow: 1px 1px #7777771f;
        }
    </style>
}
@{
    HttpRequestMessage request = ViewBag.Request;
    Dictionary<string, string> parameters = request.QueryParameters();
    string parameter;
    int deviceID, configID, analyzerType;
    string analyzerName, analyzerTypeName;
    double vNom, iNom;

    if (!parameters.TryGetValue("DeviceID", out parameter) || !int.TryParse(parameter, out deviceID)) {
        deviceID = 0;
    }

    if (!parameters.TryGetValue("ConfigID", out parameter) || !int.TryParse(parameter, out configID)) {
        configID = 0;
    }

    if (!parameters.TryGetValue("AnalyzerType", out parameter) || !int.TryParse(parameter, out analyzerType)) {
        analyzerType = 0;
    }

    if (!parameters.TryGetValue("AnalyzerName", out analyzerName) || string.IsNullOrWhiteSpace(analyzerName)) {
        analyzerName = "AnalyzerNameUndefined";
    }

    if (!parameters.TryGetValue("AnalyzerTypeName", out analyzerTypeName) || string.IsNullOrWhiteSpace(analyzerTypeName)) {
        analyzerTypeName = "AnalyzerTypeUndefined";
    }

    if (!parameters.TryGetValue("vNom", out parameter) || !double.TryParse(parameter, out vNom)) {
        vNom = 1.0;
    }

    if (!parameters.TryGetValue("iNnom", out parameter) || !double.TryParse(parameter, out iNom)) {
        iNom = 1.0;
    }

    Layout = "Layout.cshtml";
    ViewBag.ShowMenu = false;
    ViewBag.HidePageTitle = true;
    ViewBag.Title = analyzerName + " " + analyzerTypeName;
}
<div id="headerArea">
    <h3 style="margin-top: -10px;">@ViewBag.Title <img class="page-logo pull-right" alt="Dranetz" src="Images/Dranetz.png" /></h3>
    <hr class="quarter-break" />
</div>
<div id="tabs">
    <div id="autoRefreshDataPanel" class="form-inline pull-right">
        <div id="autoRefreshGroup" class="checkbox-inline"><label class="nowrap"><input id="autoRefresh" type="checkbox" data-bind="checked: autoRefresh">Auto-refresh every</label></div>&nbsp;
        <div id="refreshRateGroup" class="input-group">
            <input id="refreshRate" class="form-control pull-right" type="number" min="1" data-bind="textInput: refreshRate" />
            <span class="input-group-addon">Seconds</span>
        </div>
    </div>
    <ul id="tablist">
        <li><a href="#tabDataTable">Data Table</a></li>
        <li><a href="#tabPolarChart">Polar Chart</a></li>
    </ul>
    <div id="tabDataTable" style="overflow: auto; margin-top: 5px" tab-section>
        <table class="table table-condensed table-striped table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th class="text-center">Value</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Register</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: records">
                <tr>
                    <td width="10%" class="text-center valign-middle truncate" style="max-width: 150px" data-bind="text: valueWithUnits, attr: { title: valueWithUnits }" />
                    <td width="85%" class="text-center valign-middle nowrap" style="text-overflow: initial" data-bind="text: $data['@@desc']" />
                    <td width="5%" class="text-center valign-middle nowrap" data-bind="text: $data['@@reg']" />
                </tr>
            </tbody>
        </table>
    </div>
    <div id="tabPolarChart" style="overflow: auto; margin-top: 5px" tab-section>
        <div id="phasor" class="col-sm-6 ui-widget-content">
            <div style="height: 300px">
                <svg id="phasorChart" width="300" height="300">
                    <defs data-bind="foreach: phasorValues">
                        <marker orient="auto" markerWidth="3" markerHeight="4" refX="0.1" refY="2" data-bind="attr: { id: `arrowhead-${key}` }">
                            <path d="M0,0 V4 L2,2 Z" fill="black" data-bind="attr: { fill: color }" />
                        </marker>
                    </defs>
                    <circle cx="150" cy="150" r="130" stroke="lightgrey" strokeWidth="1" fill="white" fillOpacity="0" />
                    <line x1="150" y1="0" x2="150" y2="300" stroke="lightgrey" strokeWidth="2" />
                    <line x1="0" y1="150" x2="300" y2="150" stroke="lightgrey" strokeWidth="2" />

                    <g data-bind="foreach: phasorValues" stroke-width="5">
                        <line x1="150" y1="150" data-bind="visible: visible, attr: { id: `line-${key}`, stroke: color, 'marker-end': `url(#arrowhead-${key})`, x2: x2, y2: y2 }" />
                    </g>
                </svg>
            </div>
            <table style="border-spacing: 10px; border-collapse: separate; margin-left: auto; margin-right: auto">
                <tr data-bind="foreach: phasorValues">
                    <td><input type="checkbox" data-bind="checked: visible" />&nbsp;<span class="value-legend" data-bind="text: key, style: { color: color }"></span></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6" style="overflow: auto">
            <table class="table table-condensed table-striped table-hover">
                <tbody data-bind="foreach: phasorRecords">
                    <tr data-bind="visible: visible">
                        <td width="40%" class="text-right valign-middle nowrap value-legend" style="min-width: 140px" data-bind="text: description, attr: { title: $data['@@desc'] }, style: { color: color }" />
                        <td width="60%" class="text-left valign-middle truncate" style="max-width: 140px" data-bind="text: valueWithUnits, attr: { title: valueWithUnits }" />
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Resources.Root/Shared/Scripts/knockout.js"></script>
    <script src="@Resources.Root/Shared/Scripts/knockout.mapping.js"></script>
    <script src="@Resources.Root/Shared/Scripts/gsf.web.knockout.js"></script>

    <script>
        "use strict";

        var viewModel = null;
        const deviceID = @deviceID;
        const configID = @configID;
        const analyzerType = @analyzerType;
        const analyzerName = "@analyzerName.JavaScriptEncode()";
        const vNom = @vNom;
        const iNom = @iNom;

        const phasorRegisters = {
            VAM: 0,     // Voltage A Magnitude
            VAA: 3200,  // VOltage A Angle
            VBM: 2,     // Voltage B Magnitude
            VBA: 3202,  // Voltage B Angle
            VCM: 4,     // Voltage C Magnitude
            VCA: 3204,  // Voltage C Angle
            IAM: 14,    // Current A Magnitude
            IAA: 3214,  // Current A Angle
            IBM: 16,    // Current B Magnitude
            IBA: 3216,  // Current B Angle
            ICM: 18,    // Current C Magnitude
            ICA: 3218   // Current C Angle
        };

        const angle = 0;
        const magnitude = 1;

        const phasorType = {
            voltage: 1,
            current: 2
        }

        const phasors = {
            VA: { registers: [ phasorRegisters.VAA, phasorRegisters.VAM ], type: phasorType.voltage, color: "Black" },
            VB: { registers: [ phasorRegisters.VBA, phasorRegisters.VBM ], type: phasorType.voltage, color: "Red" },
            VC: { registers: [ phasorRegisters.VCA, phasorRegisters.VCM ], type: phasorType.voltage, color: "Blue" },
            IA: { registers: [ phasorRegisters.IAA, phasorRegisters.IAM ], type: phasorType.current, color: "LightSlateGray" },
            IB: { registers: [ phasorRegisters.IBA, phasorRegisters.IBM ], type: phasorType.current, color: "LightCoral" },
            IC: { registers: [ phasorRegisters.ICA, phasorRegisters.ICM ], type: phasorType.current, color: "LightBlue" }
        }

        function GraphDataViewModel() {
            const self = this;

            self.registerMap = [];          // Register dictionary (sparse array)
            self.records = [];              // All records (simple array, foreach-able)

            self.phasorRegisterMap = {};    // Register dictionary for phasor values (key = phasors, e.g., "VA")
            self.phasorValues = [];         // All phasor values, one per phasor (simple array, foreach-able)
            self.phasorRecords = [];        // All angle and magnitude records per phasor (simple array, foreach-able)

            self._dataHubIsConnected = ko.observable(false);
            self._autoRefresh = ko.observable(undefined);
            self._refreshRate = ko.observable(undefined);

            // Properties
            self.dataHubIsConnected = ko.pureComputed({
                read: self._dataHubIsConnected,
                write: function (value) {
                    if (value === undefined)
                        value = false;

                    self._dataHubIsConnected(value);
                },
                owner: self
            });

            self.autoRefresh = ko.pureComputed({
                read: function () {
                    if (self._autoRefresh() === undefined)
                        self._autoRefresh((Cookies.get("autoRefresh") || "true") === "true");

                    return self._autoRefresh();
                },
                write: function (value) {
                    if (value === self._autoRefresh())
                        return;

                    self._autoRefresh(value);
                    Cookies.set("autoRefresh", value.toString(), { expires: 365 });

                    if (value)
                        self.queryData();
                },
                owner: self
            });

            self.refreshRate = ko.pureComputed({
                read: function () {
                    if (self._refreshRate() === undefined)
                        self._refreshRate(parseFloat(Cookies.get("refreshRate") || "5.0"));

                    return self._refreshRate();
                },
                write: function (value) {
                    if (value === self._refreshRate())
                        return;

                    self._refreshRate(value);
                    Cookies.set("refreshRate", value.toString(), { expires: 365 });
                },
                owner: self
            });

            // Methods
            self.queryData = function () {
                if (!self.dataHubIsConnected())
                    return $.Deferred().resolve().promise();

                return dataHub.getValuesLongList(deviceID, configID).done(function (result) {
                    const records = JSON.parse(result);

                    if (self.registerMap.length === 0) {
                        records.commandresult.list.item.forEach(function (record) {
                            record.value = ko.observable(parseFloat(record["@@value"]));

                            record.valueWithUnits = ko.pureComputed({
                                read: () => `${record.value().toFixed(6)} ${record["@@units"]}`,
                                owner: self
                            });

                            self.registerMap[parseInt(record["@@reg"], 10)] = record;
                            self.records.push(record);
                        });

                        // Create dictionary of registers for phasor values
                        for (let key in phasors) {
                            if (phasors.hasOwnProperty(key)) {
                                const phasor = phasors[key];

                                if (analyzerType > 0 && phasor.type !== analyzerType)
                                    continue;

                                const registers = phasor.registers;
                                const visible = () => self.phasorValues.find(value => value.key === key).visible();

                                const angleValue = self.registerMap[registers[angle]];
                                angleValue.description = `${key} Angle (${angleValue["@@reg"]}):`;
                                angleValue.color = phasor.color;
                                angleValue.visible = ko.pureComputed({ read: visible, owner: self });

                                const magnitudeValue = self.registerMap[registers[magnitude]];
                                magnitudeValue.description = `${key} Magnitude (${magnitudeValue["@@reg"]}):`;
                                magnitudeValue.color = phasor.color;
                                magnitudeValue.visible = ko.pureComputed({ read: visible, owner: self });

                                self.phasorRegisterMap = { ...self.phasorRegisterMap, [key]: [angleValue, magnitudeValue] };
                            }
                        }

                        // Create array of phasor values for polar graph
                        for (let key in phasors) {
                            if (phasors.hasOwnProperty(key)) {
                                const phasor = phasors[key];

                                if (analyzerType > 0 && phasor.type !== analyzerType)
                                    continue;

                                const width = $("#phasorChart").width() / 2;
                                const height = $("#phasorChart").height() / 2;
                                const isVoltage = phasor.type === phasorType.voltage;
                                const voltageTolerance = 0.9;  // 10% (NEMA)
                                const currentTolerance = 0.85; // 15%
                                const extent = width * (isVoltage ? voltageTolerance : currentTolerance);
                                const aPhaseValues = self.phasorRegisterMap[isVoltage ? "VA" : "IA"];
                                const phaseValues = self.phasorRegisterMap[key];
                                const scale = isVoltage ? vNom : iNom;

                                phasor.key = key;
                                phasor.angle = ko.pureComputed({ read: () => (aPhaseValues[angle].value() - phaseValues[angle].value()) * Math.PI / 180.0, owner: self });
                                phasor.magnitude = ko.pureComputed({ read: () => extent * (phaseValues[magnitude].value() / scale), owner: self });
                                phasor.x2 = ko.pureComputed({ read: () => width + phasor.magnitude() * Math.cos(phasor.angle()), owner: self });
                                phasor.y2 = ko.pureComputed({ read: () => height - phasor.magnitude() * Math.sin(phasor.angle()), owner: self });
                                phasor.visible = ko.observable(true);

                                self.phasorValues.push(phasor);
                            }
                        }

                        // Create array of phasor angle and magnitude records for value table
                        for (let key in self.phasorRegisterMap) {
                            if (self.phasorRegisterMap.hasOwnProperty(key)) {
                                const phaseValues = self.phasorRegisterMap[key];
                                self.phasorRecords.push(phaseValues[magnitude]);
                                self.phasorRecords.push(phaseValues[angle]);
                            }
                        }
                    }
                    else {
                        // Update pre-defined observable values
                        records.commandresult.list.item.forEach(function (record) {
                            self.registerMap[parseInt(record["@@reg"], 10)].value(parseFloat(record["@@value"]));
                        });
                    }

                    if (viewModel.autoRefresh())
                        setTimeout(self.queryData, self.refreshRate() * 1000);
                });
            }
        }

        function resizePageElements() {
            let height = calculateRemainingBodyHeight() - $("#headerArea").outerHeight(true);

            $("#contentWell").height(height);

            if ($("#tablist").length)
                height -= $("#tablist").outerHeight(true);

            $("[tab-section]").height(height - 55);
        }

        // Page initialization function
        $(function () {
            // Enable deferred updates for better performance
            ko.options.deferUpdates = true;

            // Create the primary view model
            viewModel = new GraphDataViewModel();

            // Let view model know about hub connectivity changes
            $(window).on("hubConnected", function () {
                viewModel.dataHubIsConnected(true);

                if (deviceID <= 0 || viewModel.registerMap.length > 0)
                    return;

                // Handle initial page load
                showInfoMessage(`Loading latest "${analyzerName}" real-time data, please wait...&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh glyphicon-spin"></span>`, -1, true);

                viewModel.queryData().done(function () {
                    showInfoMessage("Data load complete.");
                    hideInfoMessage({ closeHeaderPanel: true, closeFloatingPanels: false });

                    // Initialize primary view model
                    ko.applyBindings(viewModel, document.getElementsByTagName("body")[0]);
                })
                .fail(function (error) {
                    hideInfoMessage();
                    showErrorMessage(`Data Load ${error}`, null, true);
                });
            });

            $("#tabs").tabs({
                active: 0,
                activate: function (event, ui) {
                    ui.newPanel.find(":input:not([type=hidden]):first").focus();
                }
            });

            $(window).on("hubDisconnected", function () {
                viewModel.dataHubIsConnected(false);
            });

            $(window).on("messageVisibiltyChanged", function () {
                resizePageElements();
            });

            $(window).resize(function () {
                resizePageElements();
            });

            resizePageElements();
        });
    </script>
}